body
{
    font-family: 'Manrope', sans-serif;
    padding: 60px;
    font-size: 13px;
    background-color: #ECF2F8;
}
figure
{
    margin: 0px;
}
figcaption
{
    display: inline-block;
    padding-top: 6px;
}
figcaption p
{
    font-weight: 700;
    color: #4E5765;
}
time, footer
{
    color: #9EAFC2;
    font-weight: 500;
}
footer
{
    text-align: center;
    position: relative;
    top: 100px;
}

/*Sections and columns*/

.content
{
    margin: auto;
    position: relative;
    border-collapse: separate;
    margin-top: 230px;
}

.container-fluid
{
    width: 80%;
    border-radius: 15px 15px 15px 15px;
    background-color: #fff;
    overflow: hidden;
}
.image-column
{
    text-align: left;
    padding: 0px;
}
.text-column
{
    padding: 35px 45px 0 35px;
    background-color: #fff;
    text-align: justify;
    overflow: visible;
}
.article-footer, #share-section, .share-text
{
    position: relative;
}
#share-section
{
    display: inline-block;
    background-color: #49556d;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px 10px 10px 10px;
    visibility: hidden;
    -webkit-box-shadow: 0px 11px 10px 1px rgba(225,234,241,1);
    -moz-box-shadow: 0px 11px 10px 1px rgba(225,234,241,1);
    box-shadow: 0px 11px 10px 1px rgba(225,234,241,1);
    top: -70px;
    left: 155px;
}

#share-icon-and-section
{
    position: absolute;
    right: 220px;
    top: 513px;
}


/*Adding the Arrow at the end of share section*/

#share-section::after
{
  content: " ";
  position: absolute;
  color: #49556d;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #49556d transparent transparent transparent;
}


/*Images*/

.side-image
{
    width: 100%;
    height: 100%;
}
.profile-photo
{
    border-radius: 100%;
    width: 10%;
    float: left;
    margin-right: 4%;
}
#share-icon
{
    box-sizing: content-box;
    padding: 10px;
    background: #ECF2F8;
    border-radius: 100%;
}
.social-media-icon
{
    margin-left: 1rem;
}


/*Text*/

.section-heading
{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #4E5765;
}
.section-text
{
    color: #6D7F97;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.share-text
{
    font-size: 18px;
    letter-spacing: 3px;
    color: #6D7F97;
    bottom: 2px;
}

#share-button
{
    border:0;
    background-color: #fff;
}


/*Responsiveness*/

@media (max-width: 1175px) and (min-width: 1170px)
{
    #share-icon-and-section
    {
        top: 310px;
    }
}
@media (max-width: 1170px) and (min-width: 991px)
{
    #share-icon-and-section
    {
        top: 331px;
    }
}
@media (max-width: 991px) and (min-width: 425px)
{
    #share-icon-and-section
    {
        top: 780px;
    }
}

/*Mobile devices*/

@media (max-width: 425px)
{
    body
    {
        padding: 20px;
    }
    figcaption
    {
        padding-top: 2px;
    }
    .profile-photo
    {
        width: 15%;
    }
    .content
    {
        margin: 0;
    }
    .container-fluid
    {
        width: 100%;
        margin-left: 10px;
        margin-top: 30px;
    }
    .section-heading
    {
        font-size: 20px;
    }
    #share-icon-and-section
    {
        width: 100%;
        right: -30px;
        top: 620px;
    }

    #share-section
    {
        display: inline-block;
        position: static;
        width: 90%;
        border-radius: 0 0 15px 15px;
    }
    #share-icon
    {
        position: absolute;
        top: 9px;
        right: 90px;
    }
    .share-text
    {
        padding-top: 12px;
    }
    .social-media-icon
    {
        font-size: 1.3rem;
    }
    .text-column
    {
        text-align: left;
    }
    .share-text
    {
        font-size: 15px;
    }

    /*Remove the tooltip arrow*/

    #share-section::after
    {
        border: 0;
    }

}

@media (max-width: 375px)
{
    #share-icon-and-section
    {
        top: 587px;
    }
}
