body
{
    font-family: 'Manrope', sans-serif;
    padding: 60px;
    font-size: 13px;
    background-color: #ECF2F8;
}

/*Sections and columns*/
.content
{
    width: 80%;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}
.image-column
{
    text-align: left;
    padding: 0px;
}
.text-column
{
    padding: 35px 45px 0 35px;
    background-color: #fff;
    text-align: justify;
}
.article-footer
{
    position: relative;
}


/*Images*/

.side-image
{
    width: 100%;
}
.profile-photo
{
    border-radius: 100%;
    width: 10%;
    float: left;
    margin-right: 4%;
}
.share-icon
{
    box-sizing: content-box;
    padding: 10px;
    background: #ECF2F8;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: 10px;
}


/*Text*/

.section-heading
{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #4E5765;
}

.section-text
{
    color: #6D7F97;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

figure
{
    margin: 0px;
}
figcaption
{
    display: inline-block;
    padding-top: 6px;
}
figcaption p
{
    font-weight: 700;
    color: #4E5765;
}
time
{
    color: #9EAFC2;
    font-weight: 500;
}